/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* Style the form container */
.wrap {
    margin: 20px 5px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the form title */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style form fields */
.form-field {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the submit button */
.submit {
    text-align: center;
}

.button-primary {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-primary:hover {
    background-color: #005cbf;
}

#form-actions {
    display: flex;
    justify-content: flex-end;
}

#form-actions a {
    margin-left: 10px; /* Add spacing between links */
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Set the link color */
}

#form-actions a:hover {
    color: #0073e6; /* Set the link color on hover */
}

.media-upload-form .notice, .media-upload-form div.error, .wrap .notice, .wrap div.error, .wrap div.updated {
    margin: 5px 30px 15px 0;
    padding: 5px;
    border-radius: 5px;
}

a.remove-item {
    /* text-align: left; */
    /* display: block; */
    /* margin: 0 0 0 auto; */
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

.hidden {
    display: none !important;
}

.count-of-found {
  align-items: center;
}

/* Style the table */
#eot-list {
  width: 100%;
  border-collapse: collapse; /* Remove spacing between table cells */
  margin-bottom: 20px;
  background-color: #fff; /* Background color for the table */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the table */
}

/* Style table headers */
#eot-list th {
  background-color: #0073e6; /* Header background color */
  color: #fff; /* Header text color */
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Style table rows */
#eot-list td {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Add a bottom border to separate rows */
}

/* Style alternating row backgrounds */
#eot-list tr:nth-child(even) {
  background-color: #f5f5f5; /* Alternate row background color */
}

/* Style the Edit and Delete links */
.eot-table .edit-link,
.eot-table .delete-link {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 3px;
    transition: color 0.2s;
}

.edit-link {
  color: #1981d4;
}

.delete-link {
  color: #df0e0e;
}

.eot-table .edit-link:hover {
    color: #003b7a;
}
.eot-table .delete-link:hover {
    color: #7b0000;
}

/* Pagination Container */
.pagination-container {
  /* margin-top: 15px;  Add spacing between pagination and content */
  text-align: center; /* Center align the pagination links */
  align-items: center;
}

/* Pagination List */
.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; /* Display the pagination links in a horizontal line */
}

/* Pagination List Item */
.pagination li {
  display: inline; /* Display each pagination item horizontally */
  margin-right: 5px; /* Add spacing between each pagination item */
}

/* Pagination Link */
.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 3px;
  transition: background-color 0.2s;
}

/* Active Page Link */
.pagination li.active a {
  background-color: #0073e6; /* Change the background color for the active page link */
  color: #fff; /* Change the text color for the active page link */
}

/* Hover Effect for Pagination Links */
.pagination a:hover {
  background-color: #0073e6; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

.eot-list-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.eot-list-actions div {
  display: inline-flex;
  align-content: center;
}

.eot-list-actions div input,
.eot-list-actions div select {
  padding: 0 10px;
  margin-right: 6px;
}

/** Loading icon **/

@keyframes ldio-7s7lo9flxqe {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-7s7lo9flxqe div {
  left: 46px;
  top: 3px;
  position: absolute;
  animation: ldio-7s7lo9flxqe linear 1.0526315789473684s infinite;
  background: #000000;
  width: 8px;
  height: 18px;
  border-radius: 4px / 7.38px;
  transform-origin: 4px 47px;
}.ldio-7s7lo9flxqe div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9649122807017544s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8771929824561403s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.7894736842105263s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.7017543859649122s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.6140350877192983s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5263157894736842s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.43859649122807015s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3508771929824561s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.2631578947368421s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.17543859649122806s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08771929824561403s;
  background: #000000;
}.ldio-7s7lo9flxqe div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #000000;
}
.loadingio-spinner-spinner-2j6pek9axc1 {
  width: 28px;
  height: 28px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-7s7lo9flxqe {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.28);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7s7lo9flxqe div { box-sizing: content-box; }
/* Loading icon end */
